/* 通用样式 */
.container {
  border: 1px solid lightcoral;
  margin: 16px;
  gap: 8px;
}
.container > div {
  background-color: lightseagreen;
  border: 1px solid lightcoral;
}

.container > div > span{
  background-color: antiquewhite;
  
}
/* grid-template-areas 基本样式 */
/* .header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
} */

.gridItem1:last-child {
  grid-column: 7;
  grid-row: 2;
}
